%p#notice= notice

%h2
  .btn
    = link_to 'Push to opencrx', court_opencrx_index_path(@court), method: :post

%p
  %b Category:
  = @court.category
%p
  %b State:
  = @court.state
%p
  %b Name:
  = @court.name
%p
  %b Blob:
  = raw ap @court.blob

= link_to 'Back', courts_path

